#!/bin/bash

# navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'
alias ........='cd ../../../../../../..'
alias .........='cd ../../../../../../../..'
alias ..........='cd ../../../../../../../../..'
alias ...........='cd ../../../../../../../../../..'
alias ............='cd ../../../../../../../../../../..'
alias .............='cd ../../../../../../../../../../../..'

# git
alias gs='git status'
alias gc='git commit'

# listings
alias l='ls -1 --group-directories-first'
alias la='ls -1A --group-directories-first'
alias ll='ls -Ahl --group-directories-first'

# colours
alias ls='ls --color=auto --group-directories-first'
alias tree='tree -C --dirsfirst'
alias grep='grep --color=auto'
alias diff='diff -Naur --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias pacman='pacman --color=auto'

# misc
alias chromium='chromium --proxy-pac-url="$(~/.ssh/genpac)"'
alias musescore='musescore3 -x1'
alias mutt='neomutt'
alias nautilus='nautilus --no-desktop'
alias nc='ncmpcpp'
alias sudo='sudo '
alias ydl='youtube-dl --extract-audio --audio-format mp3'
