#!/bin/bash

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# listings
alias l='ls --group-directories-first'
alias la='ls -A --group-directories-first'
alias ll='ls -Ahl --group-directories-first'

# colours
alias ls='ls --color=auto'
alias tree='tree -C'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias pacman='pacman --color=auto'

# misc
alias nc='ncmpcpp'
alias ydl='youtube-dl --extract-audio --audio-format mp3'
alias sudo='sudo '
alias nautilus='nautilus --no-desktop'
