#!/bin/bash

# path
export PATH=$PATH:$HOME/.local/bin
export PATH=$PATH:$HOME/.cargo/bin

export BROWSER=$(which chromium-browser 2>/dev/null || which chromium 2>/dev/null)
export MAILER=$(which thunderbird 2>/dev/null)

# export CXX=clang++
# export CC=clang

export EDITOR=nano
export editor=nano
export VISUAL=nano

# colours in less
export LESS_TERMCAP_mb=$'[1;31m'
export LESS_TERMCAP_md=$'[1;34m'
export LESS_TERMCAP_me=$'[0m'
export LESS_TERMCAP_se=$'[0m'
export LESS_TERMCAP_so=$'[1;30m'
export LESS_TERMCAP_ue=$'[0m'
export LESS_TERMCAP_us=$'[35m'

export NODE_PATH="$HOME/.local/lib/node_modules"

unset SSH_AGENT_PID
if [ "${gnupg_SSH_AUTH_SOCK_by:-0}" -ne $$ ]; then
  export SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
fi
