# Ignore by default
*

# `rc` files are generally interesting, would rather ignore specific once later
!*rc

.npmrc
.nvidia-settings-rc

!.Xresources
!.aliases
!.bash_profile
!.exports
!.prompt
!.xprofile

!.config

!.scripts
!.scripts/**



# Compton
!.compton.conf

# gedit
!.local
!.local/share
!.local/share/gedit
!.local/share/gedit/styles
!.local/share/gedit/styles/thhe-dark.xml

# GHCI
!.ghci

# mpd
!.config/mpd
!.config/mpd/mpd.conf

# ncmpcpp
!.ncmpcpp
!.ncmpcpp/config

# Sublime Text
!.config/sublime-text-3
!.config/sublime-text-3/Packages
!.config/sublime-text-3/Packages/**

## useless sublime package folders I can't delete
.config/sublime-text-3/Packages/backrefs
.config/sublime-text-3/Packages/bz2
.config/sublime-text-3/Packages/HTML
.config/sublime-text-3/Packages/Rails
.config/sublime-text-3/Packages/ssl-linux

## generally uninteresting sublime files
**.cache
**.*-ca-bundle
**.last-run

# RedShift
!.config/redshift.conf

# XMonad
!.xmonad
!.xmonad/xmonad.hs
!.xmonad/lib
!.xmonad/lib/*.hs
!.xmonad/scripts
!.xmonad/scripts/**
!.xmonad/icons
!.xmonad/icons/src
!.xmonad/icons/src/*



# Install scripts
!.install
!.install/*
