# Ignore everything by default
*

# Readme and screenshot
!README.md
!screenshot.png


# `rc` files are generally interesting, would rather ignore specific once later
## mostly in order for git to inform me of untracked rc files
!*rc

## and thus we re-ignore rc files that we don't want to track
.npmrc
.nvidia-settings-rc


# X
!.xinitrc
!.xprofile
!.Xresources

# Shell
!.bashrc
!.bash_profile
!.prompt
!.colors
!.exports
!.aliases
!.functions
!.inputrc

# Templates
!.templates
!.templates/**

# Install scripts
!.install
!.install/*
!.install/usb/*
!.install/hooks/*
!.install/templates/*


# user configuration directory (only directory, not all its contents)
!.config

# Compton
!.compton.conf

# gedit
!.local
!.local/share
!.local/share/gedit
!.local/share/gedit/styles
!.local/share/gedit/styles/thhe-dark.xml

# GHCI
!.ghci

# git
!.gitignore
!.gitconfig

# jshint
!.jshintrc

# mpd
!.config/mpd
!.config/mpd/mpd.conf

# nano
!.nanorc

# ncmpcpp
!.ncmpcpp
!.ncmpcpp/config

# RedShift
!.config/redshift.conf

# Sublime Text
!.config/sublime-text-3
!.config/sublime-text-3/Packages
!.config/sublime-text-3/Packages/**

## Sublime packages with configuration I don't want to track
.config/sublime-text-3/Packages/backrefs
.config/sublime-text-3/Packages/bz2
.config/sublime-text-3/Packages/HTML
.config/sublime-text-3/Packages/JSHint
.config/sublime-text-3/Packages/Rails
.config/sublime-text-3/Packages/ssl-linux

## generally uninteresting sublime files
**.cache
**.*-ca-bundle
**.last-run

# top
!.toprc

# XMonad
!.xmonad
!.xmonad/xmonad.hs
!.xmonad/lib
!.xmonad/lib/*.hs
!.xmonad/lib/*.sh
!.xmonad/lib/*.js
!.xmonad/scripts
!.xmonad/scripts/**
!.xmonad/icons
!.xmonad/icons/src
!.xmonad/icons/src/*
