[alias]
  lg = log --graph --pretty=format:'%C(bold black)%ar%Creset %C(bold blue)%an%C(reset)%C(yellow)%d%Creset %s'
  st = status -s
  ci = commit

  # Identity
  whoami = !bash -c 'echo \"$(git config --get user.name) <$(git config --get user.email)>\"'
  thhethssmuz = !git config --local user.name 'Thhethssmuz' && git config --local user.email 'thhethssmuz@gmail.com'
  sia = !git config --local user.name 'Svein Inge Albrigtsen' && git config --local user.email 'sia@tsoc.telenor.net'

  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v

  # List contributors with number of commits
  contributors = shortlog --summary --numbered

[user]
	name = Thhethssmuz
	email = thhethssmuz@gmail.com

[push]
	default = simple

[color "diff"]
  meta = yellow bold
  frag = magenta bold # line info
  old = red # deletions
  new = green # additions

[color "status"]
  added = green
  changed = yellow
  untracked = red

[init]
  templatedir = ~/.templates/git
