#!/bin/bash

xrdb ~/.Xresources

# Set numlock status to on at start.
numlockx on &

# Set keyboard layout
setxkbmap "no(dvorak)"

# for applications that try to be smart: don't
export WINIT_HIDPI_FACTOR=1

# Set background image.
if [ -e "$HOME/Pictures/wallpaper.jpg" ]; then
  hsetroot -root -fill ~/Pictures/wallpaper.jpg &
else
  hsetroot -solid '#101010' &
fi

# Enable window transparency and effects.
compton &

# Turn off bell sound
xset b off

# Turn off screen saver
xset s off

# Blank the screen after 60 minutes of inactivity.
xset dpms 3600 3600 3600

# Lock screen after 30
# xautolock -locker slock -time 30 &

# Hardware settings
if [ "$(hostname)" = "archbox" ]; then

  :
  #xrandr --output DP-2 --mode 1920x1080 --rate 60.00 --pos 1920x0 --primary
  #xrandr --output HDMI-0 --mode 1920x1080 --rate 60.00 --pos 0x0
  #xrandr --output DVI-I-1 --mode 1920x1080 --rate 60.00 --pos 3840x0

elif [[ "$(hostname)" = *-vmb ]]; then

  VBoxClient --display
  VBoxClient --clipboard

fi
