! -----------------------------------------------------------------------------
! Font settings
! -----------------------------------------------------------------------------
Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.autohint:               false
Xft.hinting:                true
Xft.hintstyle:              hintfull
Xft.lcdfilter:              lcddefault

! -----------------------------------------------------------------------------
! Xterm
! -----------------------------------------------------------------------------
xterm*termName:             xterm-256color
XTerm*locale:               true
Xterm*saveLines:            8196

! -----------------------------------------------------------------------------
! Urxvt
! -----------------------------------------------------------------------------
URxvt.scrollBar:            false
URxvt.saveLines:            8192
URxvt*cursorBlink:          true
URxvt*urgentOnBell:         true

! -- Theme
URxvt.internalBorder:       0
URxvt.letterSpace:          -1
URxvt.font:                 xft:DejaVu Sans Mono:pixelsize=13:Regular
URxvt.boldFont:             xft:DejaVu Sans Mono:pixelsize=13:Bold
URxvt.italicFont:           xft:DejaVu Sans Mono:pixelsize=13:Italic
URxvt.boldItalicFont:       xft:DejaVu Sans Mono:pixelsize=13:Bold:Italic

! -- Transparent background
URxvt.depth:                32
URxvt.foreground:           #FFFFFF
URxvt*background:           rgba:0000/0000/0000/dddd

! -- Colours
URxvt.color0:               #2E3436
URxvt.color1:               #CC0000
URxvt.color2:               #4E9A06
URxvt.color3:               #C4A000
URxvt.color4:               #3465A4
URxvt.color5:               #75507B
URxvt.color6:               #06989A
URxvt.color7:               #D3D7CF
URxvt.color8:               #555753
URxvt.color9:               #EF2929
URxvt.color10:              #8AE234
URxvt.color11:              #FCE94F
URxvt.color12:              #729FCF
URxvt.color13:              #AD7FA8
URxvt.color14:              #32E2E2
URxvt.color15:              #EEEEEC
