# /etc/lxdm/lxdm.conf

[base]
  numlock = 1
  greeter = /usr/lib/lxdm/lxdm-greeter-gtk

[server]
  arg = /usr/bin/X -background vt7

[display]
  gtk_theme = Adwaita
  bottom_pane = 0
  lang = 1
  keyboard = 1
  theme = Archlinux

[userlist]
  disable = 1
